/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Nuestros CSS */

:root{
  --rosa-principal: #F05A8A;
  --rojo-rosado: #E40046;
  --verde-acido: #44D62C;
  --morado-profundo: #6A3FB5;
  --gris-lavanda: #B7A8C9;

  --negro: #111111;
  --blanco: #FFFFFF;
}

body {
   font-family: 'Fredericka the Great', cursive;
   background-color: #f5f5f5;
   color: #222;
   padding: 20px;
}

.logo {
   font-family: 'Metal Mania', cursive;
   font-size: 60px;
   font-weight: bold;
   -webkit-text-stroke: 0.01px var(--verde-acido);
   display: flex;
   flex-direction: column;
   align-items: center;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

h1 { 
   font-family: 'Metal Mania', cursive;
   font-size: 40px;
   margin-bottom: 20px;
}

a { 
   text-decoration: none;
}

a:hover {
   text-decoration:  none;
   color: #222;
}

.container {
   max-width: 1000px;
   margin:  0 auto;
   display: block;
}

.products-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   gap: 20px;
}

.product-card {
   background: var(--gris-lavanda);
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   max-width: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
   margin: 0 auto 30px auto;
}

.product-card img {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 6px;
}

.product-card h2 {
   font-size: 20px;
}

.product-card p{
  font-weight: bold;
}

.product-detail {
   background: var(--gris-lavanda);
   padding: 20px;
   border-radius: 8px;
   max-width: 600px;
}

.product-detail img {
   width: 100%;
   max-height: 400px;
   object-fit: cover;
   margin-bottom: 15px;
}

form{
   background:var(--gris-lavanda);
   padding: 20px;
   border-radius: 8px;
   max-width: 500px;
   display: inline-flex;
   gap: 10px;
   align-items: center;
}

input, textarea, select {
   padding: 8px;
   border: 1px solid var(--rojo-rosado);
   border-radius: 4px;
}

button {
   font-family: 'Rubik Mono One', sans-serif;
   padding: 10px;
   border: none;
   background-color: var(--morado-profundo);
   color: white;
   cursor: pointer;
   border-radius: 4px;
}

button:hover {
   background-color: var(--rojo-rosado);
}

.dashboard-list{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.dashboard-item {
   background: white;
   padding: 10px;
   border-radius: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  background: #b6a9c9;
  padding: 5px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.category-card h2 {
  margin-top: 10px;
}